<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>{{dialogBaslik}}</span>
</mat-toolbar>
<div class="container">
  <form [formGroup]="frm">
    <mat-form-field appearance="outline">
      <mat-label>AD-SOYAD</mat-label>
      <input matInput placeholder="AD-SOYAD" formControlName="adsoyad" name="adsoyad" type="text" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-Mail</mat-label>
      <input matInput placeholder="E-Mail" formControlName="eposta" name="eposta" type="email" required>
    </mat-form-field> 
    <mat-form-field appearance="outline">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput placeholder="Kullanıcı Adı" formControlName="kadi" name="kadi" type="text" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Şifre</mat-label>
      <input matInput placeholder="Şifre" formControlName="sifre" name="sifre" type="password" required>
    </mat-form-field>  
    <mat-form-field appearance="outline" >
      <mat-label>Lütfen Seçiniz (Gerekli)</mat-label>
      <select matNativeControl required>
        <option value="" selected></option>
        <option value="0">0</option>
        <option value="1">1</option>
      </select>
    </mat-form-field>
  </form>
</div>
<p>&nbsp;</p>
<button mat-raised-button color="warn" (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
<button mat-raised-button color="warn" (click)="dialogRef.close()">Vazgeç</button>&nbsp; 